-c requirements-constraints.txt

matplotlib
seaborn
scienceplots
numpy
pandas
charset-normalizer
scipy
statsmodels
jupyterlab
openpyxl
xlrd
fastapi
uvicorn
pypdf
reportlab
PyMuPDF
Pillow
platformdirs
